/* 
    Document   : style
    Created on : May 11, 2013, 4:36:43 PM
    Author     : adamnark
    Description:
        Purpose of the stylesheet follows.
*/

li.current{
    background:#99ff99;
    border:mediumseagreen;
}


td.hand{
    width:330px;
}

td.graveyard{
    width:80px;
}

div.card {
    text-align: center;
    background-color: beige;
    width:70px;
    float:left;
    border: 1px solid;
    border-radius: 3px;
    margin:5px;
}

div.clicked {
    background-color: red;
}

.ser0 {background-color:#ff33ff;;}
.ser1 {background-color:cornsilk;}
.ser2 {background-color:darkcyan;}
.ser3 {background-color:greenyellow;}
.ser4 {background-color:#9999ff;}
.ser5 {background-color:cornflowerblue;}
.ser6 {background-color:#6666ff;}
.ser7 {background-color:DarkGoldenRod;}
.ser8 {background-color:BlanchedAlmond;}
.ser9 {background-color:Blue;}
.ser10 {background-color:BlueViolet;}
.ser11 {background-color:Brown;}
.ser12 {background-color:BurlyWood;}
.ser13 {background-color:#6f6e6d;}
.ser14 {background-color:Chartreuse;}
.ser16 {background-color:chocolate;}
.ser17 {background-color:cornflowerblue;}
.ser18 {background-color:Cornsilk;}
.ser19 {background-color:Crimson;}
.ser20 {background-color:Cyan;}
